In [1]:
print("Hii Jupyter")

Hii Jupyter

# CONTENT BASED RECOMENDER SYSTEM

In [2]:
import pandas as pd
import numpy as np

In [3]:
movies=pd.read_csv("Data/tmdb_5000_movies.csv")
credits=pd.read_csv("Data/tmdb_5000_credits.csv")

In [4]:
movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [5]:
movies.shape

(4803, 20)

In [6]:
credits.shape

(4803, 4)

In [7]:
credits.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [8]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
dtypes: float64(3), int64(4), object(13)
memory usage: 750.6+ KB

In [9]:
#merging both datasets

movies = pd.merge(movies,credits,on='title')

In [10]:
movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,285,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,206647,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,49026,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",...,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,49529,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [11]:
movies.shape

(4809, 23)

In [12]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4809 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4809 non-null   int64
 1   genres                4809 non-null   object
 2   homepage              1713 non-null   object
 3   id                    4809 non-null   int64
 4   keywords              4809 non-null   object
 5   original_language     4809 non-null   object
 6   original_title        4809 non-null   object
 7   overview              4806 non-null   object
 8   popularity            4809 non-null   float64
 9   production_companies  4809 non-null   object
 10  production_countries  4809 non-null   object
 11  release_date          4808 non-null   object
 12  revenue               4809 non-null   int64
 13  runtime               4807 non-null   float64
 14  spoken_languages      4809 non-null   object
 15  status                4809 non-null   object
 16  tagline               3965 non-null   object
 17  title                 4809 non-null   object
 18  vote_average          4809 non-null   float64
 19  vote_count            4809 non-null   int64
 20  movie_id              4809 non-null   int64
 21  cast                  4809 non-null   object
 22  crew                  4809 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 864.2+ KB

In [13]:
# features to keep
# genres
# id
# keywords
# title
# overview
# title
# cast
# crew

In [14]:
movies['original_language'].value_counts()

original_language
en    4510
fr      70
es      32
zh      27
de      27
hi      19
ja      16
it      14
ko      12
cn      12
ru      11
pt       9
da       7
sv       5
nl       4
fa       4
th       3
he       3
ta       2
cs       2
ro       2
id       2
ar       2
vi       1
sl       1
ps       1
no       1
ky       1
hu       1
pl       1
af       1
nb       1
tr       1
is       1
xx       1
te       1
el       1
Name: count, dtype: int64

In [15]:
movies.iloc[0]

budget                                                          237000000
genres                  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
homepage                                      http://www.avatarmovie.com/
id                                                                  19995
keywords                [{"id": 1463, "name": "culture clash"}, {"id":...
original_language                                                      en
original_title                                                     Avatar
overview                In the 22nd century, a paraplegic Marine is di...
popularity                                                     150.437577
production_companies    [{"name": "Ingenious Film Partners", "id": 289...
production_countries    [{"iso_3166_1": "US", "name": "United States o...
release_date                                                   2009-12-10
revenue                                                        2787965087
runtime                                                             162.0
spoken_languages        [{"iso_639_1": "en", "name": "English"}, {"iso...
status                                                           Released
tagline                                       Enter the World of Pandora.
title                                                              Avatar
vote_average                                                          7.2
vote_count                                                          11800
movie_id                                                            19995
cast                    [{"cast_id": 242, "character": "Jake Sully", "...
crew                    [{"credit_id": "52fe48009251416c750aca23", "de...
Name: 0, dtype: object

In [16]:
for row in movies.itertuples():
          if(row.original_title != row.title):
               print(f'original:{row.original_title}  title:{row.title}')

original:シン・ゴジラ  title:Shin Godzilla
original:4: Rise of the Silver Surfer  title:Fantastic 4: Rise of the Silver Surfer
original:Astérix aux Jeux Olympiques  title:Asterix at the Olympic Games
original:金陵十三釵  title:The Flowers of War
original:Évolution  title:Evolution
original:Arthur et les Minimoys  title:Arthur and the Invisibles
original:Don Gato: El inicio de la pandilla  title:Top Cat Begins
original:Deux frères  title:Two Brothers
original:天將雄師  title:Dragon Blade
original:Michael Jackson's This Is It  title:This Is It
original:西游记之孙悟空三打白骨精  title:The Monkey King 2
original:Un long dimanche de fiançailles  title:A Very Long Engagement
original:괴물  title:The Host
original:괴물  title:The Host
original:Joan of Arc  title:The Messenger: The Story of Joan of Arc
original:1947: Earth  title:Earth
original:Солярис  title:Solaris
original:滿城盡帶黃金甲  title:Curse of the Golden Flower
original:英雄  title:Hero
original:Micmacs à tire-larigot  title:Micmacs
original:Pourquoi j'ai pas mangé mon père  title:Why I Did (Not) Eat My Father
original:Lo imposible  title:The Impossible
original:Le fabuleux destin d'Amélie Poulain  title:Amélie
original:投名狀  title:The Warlords
original:Nomad  title:Nomad: The Warrior
original:Un monstre à Paris  title:A Monster in Paris
original:Chi bi  title:Red Cliff
original:一代宗師  title:The Grandmaster
original:Obitaemyy Ostrov  title:The Inhabited Island
original:葉問3  title:Ip Man 3
original:Le Hussard sur le toit  title:The Horseman on the Roof
original:崖の上のポニョ  title:Ponyo
original:The House of Magic  title:Thunder and the House of Magic
original:디워  title:Dragon Wars: D-War
original:Wu Ji  title:The Promise
original:辛亥革命  title:1911
original:Le petit Nicolas  title:Little Nicholas
original:Konferenz der Tiere  title:Animals United
original:Савва. Сердце воина  title:Savva. Heart of the Warrior
original:キャプテンハーロック  title:Space Pirate Captain Harlock
original:Le peuple migrateur  title:Winged Migration
original:The Neverending Story  title:The NeverEnding Story
original:EverAfter  title:Ever After: A Cinderella Story
original:Highlander III: The Sorcerer  title:Highlander: The Final Dimension
original:Viy  title:Forbidden Kingdom
original:Un Plan parfait  title:Fly Me to the Moon
original:La migliore offerta  title:The Best Offer
original:Sammy's avonturen: De geheime doorgang  title:A Turtle's Tale: Sammy's Adventures
original:Les petits mouchoirs  title:Little White Lies
original:La véritable histoire du Chat Botté  title:The True Story of Puss 'n Boots
original:Белка и Стрелка. Звёздные собаки  title:Space Dogs
original:一個人的武林  title:Kung Fu Jungle
original:ハウルの動く城  title:Howl's Moving Castle
original:Coco avant Chanel  title:Coco Before Chanel
original:Chéri  title:Cheri
original:十月圍城  title:Bodyguards and Assassins
original:Zwartboek  title:Black Book
original:Molière  title:Moliere
original:Metegol  title:Underdogs
original:功夫  title:Kung Fu Hustle
original:もののけ姫  title:Princess Mononoke
original:黃石的孩子  title:The Children of Huang Shi
original:長江七號  title:CJ7
original:Les Visiteurs 2 : Les Couloirs du temps  title:The Visitors II: The Corridors of Time
original:三国之见龙卸甲  title:Three Kingdoms: Resurrection of the Dragon
original:ராமானுஜன்  title:Ramanujan
original:Der Baader Meinhof Komplex  title:The Baader Meinhof Complex
original:千と千尋の神隠し  title:Spirited Away
original:風暴  title:Firestorm
original:逃出生天  title:Out of Inferno
original:Монгол  title:Mongol: The Rise of Genghis Khan
original:Das weisse Band  title:The White Ribbon
original:Saw 3D  title:Saw: The Final Chapter
original:Chasseurs de dragons  title:Dragon Hunters
original:El laberinto del fauno  title:Pan's Labyrinth
original:Arn: Tempelriddaren  title:Arn: The Knight Templar
original:Bienvenue chez les ch'tis  title:Welcome to the Sticks
original:卧虎藏龙  title:Crouching Tiger, Hidden Dragon
original:해운대  title:Tidal Wave
original:Jackass Presents: Bad Grandpa  title:Bad Grandpa
original:The Hills Have Eyes II  title:The Hills Have Eyes 2
original:Banlieue 13  title:District B13
original:刺客聶隱娘  title:The Assassin
original:Возвращение  title:The Return
original:Bathory  title:Bathory: Countess of Blood
original:Autómata  title:Automata
original:新宿事件  title:Shinjuku Incident
original:Elle s'appelait Sarah  title:Sarah's Key
original:Le scaphandre et le papillon  title:The Diving Bell and the Butterfly
original:Les herbes folles  title:Wild Grass
original:剑雨  title:Reign of Assassins
original:Der Untergang  title:Downfall
original:Mar adentro  title:The Sea Inside
original:La veuve de Saint-Pierre  title:The Widow of Saint-Pierre
original:인천상륙작전  title:Operation Chromite
original:La Guerre du feu  title:Quest for Fire
original:태극기 휘날리며  title:Tae Guk Gi: The Brotherhood of War
original:Ernest et Célestine  title:Ernest & Celestine
original:How to Be a Player  title:Def Jam's How to Be a Player
original:十面埋伏  title:House of Flying Daggers
original:La grande bellezza  title:The Great Beauty
original:Sorstalanság  title:Fateless
original:三枪拍案惊奇  title:A Woman, a Gun and a Noodle Shop
original:南京!南京!  title:City of Life and Death
original:兔侠传奇  title:Legend of a Rabbit
original:まあだだよ  title:Madadayo
original:三城记  title:A Tale of Three Cities
original:Gli intoccabili  title:Machine Gun McCain
original:कभी अलविदा ना कहना  title:Kabhi Alvida Naa Kehna
original:La Famille Bélier  title:The Bélier Family
original:Run Fatboy Run  title:Run, Fatboy, Run
original:Io sono l'amore  title:I Am Love
original:कृष  title:Krrish
original:少林足球  title:Shaolin Soccer
original:Rien ne va plus  title:The Swindle
original:La femme de chambre du Titanic  title:The Chambermaid on the Titanic
original:Hross í oss  title:Of Horses and Men
original:Hai Marjawaan!  title:It's a Wonderful Afterlife
original:좋은 놈, 나쁜 놈, 이상한 놈  title:The Good, The Bad, The Weird
original:Mine vaganti  title:Loose Cannons
original:곡성  title:The Wailing
original:สุริโยไท  title:The Legend of Suriyothai
original:Due occhi diabolici  title:Two Evil Eyes
original:Flammen & Citronen  title:Flame & Citron
original:La Fille du RER  title:The Girl on the Train
original:Star Wars: Clone Wars (Volume 1)  title:Star Wars: Clone Wars: Volume 1
original:Håkon Håkonsen  title:Shipwrecked
original:실미도  title:Silmido
original:Kurtlar vadisi - Irak  title:Valley of the Wolves: Iraq
original:8 femmes  title:8 Women
original:And When Did You Last See Your Father?  title:When Did You Last See Your Father?
original:アキラ  title:Akira
original:Maurice Richard  title:The Rocket: The Legend of Rocket Richard
original:非常幸运  title:My Lucky Star
original:紅番區  title:Rumble in the Bronx
original:Loin des hommes  title:Far from Men
original:Betty Fisher et autres histoires  title:Betty Fisher and Other Stories
original:Die Welle  title:The Wave
original:Les visiteurs  title:The Visitors
original:Трудно быть богом  title:Hard to Be a God
original:Z 風暴  title:Z Storm
original:Снежная королева  title:The Snow Queen
original:Ricordati di me  title:Remember Me, My Love
original:Tropa de Elite  title:Elite Squad
original:Nirgendwo in Afrika  title:Nowhere in Africa
original:一個好人  title:Mr. Nice Guy
original:La fleur du mal  title:The Flower of Evil
original:L'Auberge espagnole  title:The Spanish Apartment
original:Oorlogswinter  title:Winter in Wartime
original:ต้มยำกุ้ง  title:The Protector
original:Les Choristes  title:The Chorus
original:Irréversible  title:Irreversible
original:Hodejegerne  title:Headhunters
original:No se Aceptan Devoluciones  title:Instructions Not Included
original:Y tu mamá también  title:Y Tu Mamá También
original:Les Invasions barbares  title:The Barbarian Invasions
original:C'era una volta il West  title:Once Upon a Time in the West
original:Des hommes et des dieux  title:Of Gods and Men
original:Mientras duermes  title:Sleep Tight
original:Obsluhoval jsem anglického krále  title:I Served the King of England
original:Le Nom des gens  title:The Names of Love
original:Tango, no me dejes nunca  title:Tango
original:Salvando al Soldado Perez  title:Saving Private Perez
original:Karakter  title:Character
original:친절한 금자씨  title:Sympathy for Lady Vengeance
original:Nannerl, la soeur de Mozart  title:Mozart's Sister
original:放‧逐  title:Exiled
original:Lilja 4-Ever  title:Lilya 4-ever
original:Snabba Cash  title:Easy Money
original:Ночной дозор  title:Night Watch
original:El orfanato  title:The Orphanage
original:Los lunes al sol  title:Mondays in the Sun
original:Praia do Futuro  title:Futuro Beach
original:Географ глобус пропил  title:The Geographer Drank His Globe Away
original:Casa de Areia  title:The House of Sand
original:El secreto de sus ojos  title:The Secret in Their Eyes
original:La otra conquista  title:The Other Conquest
original:Trolljegeren  title:Troll Hunter
original:Dawn Patrol  title:Stranded
original:La Marche de l'empereur  title:March of the Penguins
original:Cidade de Deus  title:City of God
original:Jagten  title:The Hunt
original:Opposite Sex  title:The Opposite Sex
original:Entre les murs  title:The Class
original:María, llena eres de gracia  title:Maria Full of Grace
original:归来  title:Coming Home
original:Pokémon 3: The Movie  title:Pokémon: Spell of the Unknown
original:올드보이  title:Oldboy
original:Sommersturm  title:Summer Storm
original:Central do Brasil  title:Central Station
original:Haute tension  title:High Tension
original:Rejsen til Saturn  title:Journey to Saturn
original:De jurk  title:The Dress
original:Los cronocrímenes  title:Timecrimes
original:疯狂的赛车  title:Silver Medalist
original:Sur le seuil  title:Evil Words
original:Anatomie  title:Anatomy
original:Mad Max 2  title:Mad Max 2: The Road Warrior
original:醉拳二  title:The Legend of Drunken Master
original:Das Leben der Anderen  title:The Lives of Others
original:Les triplettes de Belleville  title:The Triplets of Belleville
original:Vals Im Bashir  title:Waltz with Bashir
original:Jerusalema  title:Gangster's Paradise: Jerusalema
original:$upercapitalist  title:Supercapitalist
original:Die Schlangengrube und das Pendel  title:The Torture Chamber of Dr. Sadism
original:Walking with the Dead  title:The Walking Deceased
original:Chacun sa nuit  title:One to Another
original:एबीसीडी  title:ABCD (Any Body Can Dance)
original:El Crimen del Padre Amaro  title:The Crime of Padre Amaro
original:வாலு  title:Vaalu
original:Lola rennt  title:Run Lola Run
original:La misma luna  title:Under the Same Moon
original:Dabba  title:The Lunchbox
original:سكر بنات  title:Caramel
original:Ha-Buah  title:The Bubble
original:दिल जो भी कहे  title:Dil Jo Bhi Kahey...
original:La sirène du Mississipi  title:Mississippi Mermaid
original:Nueve Reinas  title:Nine Queens
original:La niña santa  title:The Holy Girl
original:La chambre bleue  title:The Blue Room
original:Festen  title:The Celebration
original:Vượt Sóng  title:Journey from the Fall
original:Kurmanjan Datka. Queen of the Mountains  title:Queen of the Mountains
original:Los insólitos peces gato  title:The Amazing Catfish
original:Il buono, il brutto, il cattivo  title:The Good, the Bad and the Ugly
original:Que Horas Ela Volta?  title:The Second Mother
original:Q  title:Desire
original:La Navaja De Don Juan  title:The Blade of Don Juan
original:Serbuan maut  title:The Raid
original:Gojira ni-sen mireniamu  title:Godzilla 2000
original:Jagal  title:The Act of Killing
original:A escondidas  title:Hidden Away
original:4 luni, 3 săptămîni și 2 zile  title:4 Months, 3 Weeks and 2 Days
original:Le bonheur d'Elza  title:Elza
original:جدایی نادر از سیمین  title:A Separation
original:Die Büchse der Pandora  title:Pandora's Box
original:Cama adentro  title:Live-In Maid
original:Død snø  title:Dead Snow
original:Il conformista  title:The Conformist
original:L.I.E. Long Island Expressway  title:L.I.E.
original:Arnolds Park  title:Carousel of Revenge
original:Médecin de campagne  title:The Country Doctor
original:Julija in Alfa Romeo  title:Juliet and Alfa Romeo
original:七人の侍  title:Seven Samurai
original:Kita svajonių komanda  title:The Other Dream Team
original:疯狂的石头  title:Crazy Stone
original:Så som i himmelen  title:As It Is in Heaven
original:...E tu vivrai nel terrore! L'aldilà  title:The Beyond
original:Viskningar och rop  title:Cries and Whispers
original:Κυνόδοντας  title:Dogtooth
original:Chacun Cherche Son Chat  title:When the Cat's Away
original:Pierrot le fou  title:Pierrot le Fou
original:Per un pugno di dollari  title:A Fistful of Dollars
original:Drei  title:Three
original:Solitude  title:American Beast
original:Chats perchés  title:The Case of the Grinning Cat
original:بچه‌های آسمان  title:Children of Heaven
original:Lumea e a mea  title:The World Is Mine
original:Une femme mariée: Suite de fragments d'un film tourné en 1964  title:The Married Woman
original:Gabriela, Cravo e Canela  title:Gabriela
original:دایره  title:The Circle
original:キュア  title:Cure

In [56]:
new_df=movies[['id','keywords','title','overview','genres','cast','crew']].copy()

In [57]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4809 entries, 0 to 4808
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        4809 non-null   int64
 1   keywords  4809 non-null   object
 2   title     4809 non-null   object
 3   overview  4806 non-null   object
 4   genres    4809 non-null   object
 5   cast      4809 non-null   object
 6   crew      4809 non-null   object
dtypes: int64(1), object(6)
memory usage: 263.1+ KB

In [58]:
new_df.head()

,id,keywords,title,overview,genres,cast,crew
0,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [59]:
new_df['overview'][0].split()

['In',
 'the',
 '22nd',
 'century,',
 'a',
 'paraplegic',
 'Marine',
 'is',
 'dispatched',
 'to',
 'the',
 'moon',
 'Pandora',
 'on',
 'a',
 'unique',
 'mission,',
 'but',
 'becomes',
 'torn',
 'between',
 'following',
 'orders',
 'and',
 'protecting',
 'an',
 'alien',
 'civilization.']

In [60]:
#CHECK FOR NULL VALUES


new_df.isnull().sum()

id          0
keywords    0
title       0
overview    3
genres      0
cast        0
crew        0
dtype: int64

In [61]:
new_df.dropna(inplace=True)

In [62]:
new_df['overview']= new_df['overview'].apply(lambda x: x.split())

In [63]:
new_df['overview'][0]

['In',
 'the',
 '22nd',
 'century,',
 'a',
 'paraplegic',
 'Marine',
 'is',
 'dispatched',
 'to',
 'the',
 'moon',
 'Pandora',
 'on',
 'a',
 'unique',
 'mission,',
 'but',
 'becomes',
 'torn',
 'between',
 'following',
 'orders',
 'and',
 'protecting',
 'an',
 'alien',
 'civilization.']

In [64]:
type(new_df['overview'][0])

list

In [65]:
new_df['genres'][0]

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [66]:
def convert(x):
    l=[]
    for i in x:
        l.append(i['name'])
        
    return l

In [67]:
import json

new_df['genres'] = new_df['genres'].apply(lambda x: convert(json.loads(x)))

In [68]:
new_df['keywords']=new_df['keywords'].apply(lambda x: convert(json.loads(x)))

In [69]:
convert([{'id': 28, 'name': 'Action'},
 {'id': 12, 'name': 'Adventure'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 878, 'name': 'Science Fiction'}])

['Action', 'Adventure', 'Fantasy', 'Science Fiction']

In [70]:
new_df.head()

,id,keywords,title,overview,genres,cast,crew
0,19995,"[culture clash, future, space war, space colon...",Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,"[ocean, drug abuse, exotic island, east india ...",Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,"[spy, based on novel, secret agent, sequel, mi...",Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,"[dc comics, crime fighter, terrorist, secret i...",The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,"[based on novel, mars, medallion, space travel...",John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, Science Fiction]","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [71]:
type(new_df['overview'][0])

list

In [72]:
new_df['cast'][0]

'[{"cast_id": 242, "character": "Jake Sully", "credit_id": "5602a8a7c3a3685532001c9a", "gender": 2, "id": 65731, "name": "Sam Worthington", "order": 0}, {"cast_id": 3, "character": "Neytiri", "credit_id": "52fe48009251416c750ac9cb", "gender": 1, "id": 8691, "name": "Zoe Saldana", "order": 1}, {"cast_id": 25, "character": "Dr. Grace Augustine", "credit_id": "52fe48009251416c750aca39", "gender": 1, "id": 10205, "name": "Sigourney Weaver", "order": 2}, {"cast_id": 4, "character": "Col. Quaritch", "credit_id": "52fe48009251416c750ac9cf", "gender": 2, "id": 32747, "name": "Stephen Lang", "order": 3}, {"cast_id": 5, "character": "Trudy Chacon", "credit_id": "52fe48009251416c750ac9d3", "gender": 1, "id": 17647, "name": "Michelle Rodriguez", "order": 4}, {"cast_id": 8, "character": "Selfridge", "credit_id": "52fe48009251416c750ac9e1", "gender": 2, "id": 1771, "name": "Giovanni Ribisi", "order": 5}, {"cast_id": 7, "character": "Norm Spellman", "credit_id": "52fe48009251416c750ac9dd", "gender": 2, "id": 59231, "name": "Joel David Moore", "order": 6}, {"cast_id": 9, "character": "Moat", "credit_id": "52fe48009251416c750ac9e5", "gender": 1, "id": 30485, "name": "CCH Pounder", "order": 7}, {"cast_id": 11, "character": "Eytukan", "credit_id": "52fe48009251416c750ac9ed", "gender": 2, "id": 15853, "name": "Wes Studi", "order": 8}, {"cast_id": 10, "character": "Tsu\'Tey", "credit_id": "52fe48009251416c750ac9e9", "gender": 2, "id": 10964, "name": "Laz Alonso", "order": 9}, {"cast_id": 12, "character": "Dr. Max Patel", "credit_id": "52fe48009251416c750ac9f1", "gender": 2, "id": 95697, "name": "Dileep Rao", "order": 10}, {"cast_id": 13, "character": "Lyle Wainfleet", "credit_id": "52fe48009251416c750ac9f5", "gender": 2, "id": 98215, "name": "Matt Gerald", "order": 11}, {"cast_id": 32, "character": "Private Fike", "credit_id": "52fe48009251416c750aca5b", "gender": 2, "id": 154153, "name": "Sean Anthony Moran", "order": 12}, {"cast_id": 33, "character": "Cryo Vault Med Tech", "credit_id": "52fe48009251416c750aca5f", "gender": 2, "id": 397312, "name": "Jason Whyte", "order": 13}, {"cast_id": 34, "character": "Venture Star Crew Chief", "credit_id": "52fe48009251416c750aca63", "gender": 2, "id": 42317, "name": "Scott Lawrence", "order": 14}, {"cast_id": 35, "character": "Lock Up Trooper", "credit_id": "52fe48009251416c750aca67", "gender": 2, "id": 986734, "name": "Kelly Kilgour", "order": 15}, {"cast_id": 36, "character": "Shuttle Pilot", "credit_id": "52fe48009251416c750aca6b", "gender": 0, "id": 1207227, "name": "James Patrick Pitt", "order": 16}, {"cast_id": 37, "character": "Shuttle Co-Pilot", "credit_id": "52fe48009251416c750aca6f", "gender": 0, "id": 1180936, "name": "Sean Patrick Murphy", "order": 17}, {"cast_id": 38, "character": "Shuttle Crew Chief", "credit_id": "52fe48009251416c750aca73", "gender": 2, "id": 1019578, "name": "Peter Dillon", "order": 18}, {"cast_id": 39, "character": "Tractor Operator / Troupe", "credit_id": "52fe48009251416c750aca77", "gender": 0, "id": 91443, "name": "Kevin Dorman", "order": 19}, {"cast_id": 40, "character": "Dragon Gunship Pilot", "credit_id": "52fe48009251416c750aca7b", "gender": 2, "id": 173391, "name": "Kelson Henderson", "order": 20}, {"cast_id": 41, "character": "Dragon Gunship Gunner", "credit_id": "52fe48009251416c750aca7f", "gender": 0, "id": 1207236, "name": "David Van Horn", "order": 21}, {"cast_id": 42, "character": "Dragon Gunship Navigator", "credit_id": "52fe48009251416c750aca83", "gender": 0, "id": 215913, "name": "Jacob Tomuri", "order": 22}, {"cast_id": 43, "character": "Suit #1", "credit_id": "52fe48009251416c750aca87", "gender": 0, "id": 143206, "name": "Michael Blain-Rozgay", "order": 23}, {"cast_id": 44, "character": "Suit #2", "credit_id": "52fe48009251416c750aca8b", "gender": 2, "id": 169676, "name": "Jon Curry", "order": 24}, {"cast_id": 46, "character": "Ambient Room Tech", "credit_id": "52fe48009251416c750aca8f", "gender": 0, "id": 1048610, "name": "Luke Hawker", "order": 25}, {"cast_id": 47, "character": "Ambient Room Tech / Troupe", "credit_id": "52fe48009251416c750aca93", "gender": 0, "id": 42288, "name": "Woody Schultz", "order": 26}, {"cast_id": 48, "character": "Horse Clan Leader", "credit_id": "52fe48009251416c750aca97", "gender": 2, "id": 68278, "name": "Peter Mensah", "order": 27}, {"cast_id": 49, "character": "Link Room Tech", "credit_id": "52fe48009251416c750aca9b", "gender": 0, "id": 1207247, "name": "Sonia Yee", "order": 28}, {"cast_id": 50, "character": "Basketball Avatar / Troupe", "credit_id": "52fe48009251416c750aca9f", "gender": 1, "id": 1207248, "name": "Jahnel Curfman", "order": 29}, {"cast_id": 51, "character": "Basketball Avatar", "credit_id": "52fe48009251416c750acaa3", "gender": 0, "id": 89714, "name": "Ilram Choi", "order": 30}, {"cast_id": 52, "character": "Na\'vi Child", "credit_id": "52fe48009251416c750acaa7", "gender": 0, "id": 1207249, "name": "Kyla Warren", "order": 31}, {"cast_id": 53, "character": "Troupe", "credit_id": "52fe48009251416c750acaab", "gender": 0, "id": 1207250, "name": "Lisa Roumain", "order": 32}, {"cast_id": 54, "character": "Troupe", "credit_id": "52fe48009251416c750acaaf", "gender": 1, "id": 83105, "name": "Debra Wilson", "order": 33}, {"cast_id": 57, "character": "Troupe", "credit_id": "52fe48009251416c750acabb", "gender": 0, "id": 1207253, "name": "Chris Mala", "order": 34}, {"cast_id": 55, "character": "Troupe", "credit_id": "52fe48009251416c750acab3", "gender": 0, "id": 1207251, "name": "Taylor Kibby", "order": 35}, {"cast_id": 56, "character": "Troupe", "credit_id": "52fe48009251416c750acab7", "gender": 0, "id": 1207252, "name": "Jodie Landau", "order": 36}, {"cast_id": 58, "character": "Troupe", "credit_id": "52fe48009251416c750acabf", "gender": 0, "id": 1207254, "name": "Julie Lamm", "order": 37}, {"cast_id": 59, "character": "Troupe", "credit_id": "52fe48009251416c750acac3", "gender": 0, "id": 1207257, "name": "Cullen B. Madden", "order": 38}, {"cast_id": 60, "character": "Troupe", "credit_id": "52fe48009251416c750acac7", "gender": 0, "id": 1207259, "name": "Joseph Brady Madden", "order": 39}, {"cast_id": 61, "character": "Troupe", "credit_id": "52fe48009251416c750acacb", "gender": 0, "id": 1207262, "name": "Frankie Torres", "order": 40}, {"cast_id": 62, "character": "Troupe", "credit_id": "52fe48009251416c750acacf", "gender": 1, "id": 1158600, "name": "Austin Wilson", "order": 41}, {"cast_id": 63, "character": "Troupe", "credit_id": "52fe48019251416c750acad3", "gender": 1, "id": 983705, "name": "Sara Wilson", "order": 42}, {"cast_id": 64, "character": "Troupe", "credit_id": "52fe48019251416c750acad7", "gender": 0, "id": 1207263, "name": "Tamica Washington-Miller", "order": 43}, {"cast_id": 65, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acadb", "gender": 1, "id": 1145098, "name": "Lucy Briant", "order": 44}, {"cast_id": 66, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acadf", "gender": 2, "id": 33305, "name": "Nathan Meister", "order": 45}, {"cast_id": 67, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acae3", "gender": 0, "id": 1207264, "name": "Gerry Blair", "order": 46}, {"cast_id": 68, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acae7", "gender": 2, "id": 33311, "name": "Matthew Chamberlain", "order": 47}, {"cast_id": 69, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acaeb", "gender": 0, "id": 1207265, "name": "Paul Yates", "order": 48}, {"cast_id": 70, "character": "Op Center Duty Officer", "credit_id": "52fe48019251416c750acaef", "gender": 0, "id": 1207266, "name": "Wray Wilson", "order": 49}, {"cast_id": 71, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acaf3", "gender": 2, "id": 54492, "name": "James Gaylyn", "order": 50}, {"cast_id": 72, "character": "Dancer", "credit_id": "52fe48019251416c750acaf7", "gender": 0, "id": 1207267, "name": "Melvin Leno Clark III", "order": 51}, {"cast_id": 73, "character": "Dancer", "credit_id": "52fe48019251416c750acafb", "gender": 0, "id": 1207268, "name": "Carvon Futrell", "order": 52}, {"cast_id": 74, "character": "Dancer", "credit_id": "52fe48019251416c750acaff", "gender": 0, "id": 1207269, "name": "Brandon Jelkes", "order": 53}, {"cast_id": 75, "character": "Dancer", "credit_id": "52fe48019251416c750acb03", "gender": 0, "id": 1207270, "name": "Micah Moch", "order": 54}, {"cast_id": 76, "character": "Dancer", "credit_id": "52fe48019251416c750acb07", "gender": 0, "id": 1207271, "name": "Hanniyah Muhammad", "order": 55}, {"cast_id": 77, "character": "Dancer", "credit_id": "52fe48019251416c750acb0b", "gender": 0, "id": 1207272, "name": "Christopher Nolen", "order": 56}, {"cast_id": 78, "character": "Dancer", "credit_id": "52fe48019251416c750acb0f", "gender": 0, "id": 1207273, "name": "Christa Oliver", "order": 57}, {"cast_id": 79, "character": "Dancer", "credit_id": "52fe48019251416c750acb13", "gender": 0, "id": 1207274, "name": "April Marie Thomas", "order": 58}, {"cast_id": 80, "character": "Dancer", "credit_id": "52fe48019251416c750acb17", "gender": 0, "id": 1207275, "name": "Bravita A. Threatt", "order": 59}, {"cast_id": 81, "character": "Mining Chief (uncredited)", "credit_id": "52fe48019251416c750acb1b", "gender": 0, "id": 1207276, "name": "Colin Bleasdale", "order": 60}, {"cast_id": 82, "character": "Veteran Miner (uncredited)", "credit_id": "52fe48019251416c750acb1f", "gender": 0, "id": 107969, "name": "Mike Bodnar", "order": 61}, {"cast_id": 83, "character": "Richard (uncredited)", "credit_id": "52fe48019251416c750acb23", "gender": 0, "id": 1207278, "name": "Matt Clayton", "order": 62}, {"cast_id": 84, "character": "Nav\'i (uncredited)", "credit_id": "52fe48019251416c750acb27", "gender": 1, "id": 147898, "name": "Nicole Dionne", "order": 63}, {"cast_id": 85, "character": "Trooper (uncredited)", "credit_id": "52fe48019251416c750acb2b", "gender": 0, "id": 1207280, "name": "Jamie Harrison", "order": 64}, {"cast_id": 86, "character": "Trooper (uncredited)", "credit_id": "52fe48019251416c750acb2f", "gender": 0, "id": 1207281, "name": "Allan Henry", "order": 65}, {"cast_id": 87, "character": "Ground Technician (uncredited)", "credit_id": "52fe48019251416c750acb33", "gender": 2, "id": 1207282, "name": "Anthony Ingruber", "order": 66}, {"cast_id": 88, "character": "Flight Crew Mechanic (uncredited)", "credit_id": "52fe48019251416c750acb37", "gender": 0, "id": 1207283, "name": "Ashley Jeffery", "order": 67}, {"cast_id": 14, "character": "Samson Pilot", "credit_id": "52fe48009251416c750ac9f9", "gender": 0, "id": 98216, "name": "Dean Knowsley", "order": 68}, {"cast_id": 89, "character": "Trooper (uncredited)", "credit_id": "52fe48019251416c750acb3b", "gender": 0, "id": 1201399, "name": "Joseph Mika-Hunt", "order": 69}, {"cast_id": 90, "character": "Banshee (uncredited)", "credit_id": "52fe48019251416c750acb3f", "gender": 0, "id": 236696, "name": "Terry Notary", "order": 70}, {"cast_id": 91, "character": "Soldier (uncredited)", "credit_id": "52fe48019251416c750acb43", "gender": 0, "id": 1207287, "name": "Kai Pantano", "order": 71}, {"cast_id": 92, "character": "Blast Technician (uncredited)", "credit_id": "52fe48019251416c750acb47", "gender": 0, "id": 1207288, "name": "Logan Pithyou", "order": 72}, {"cast_id": 93, "character": "Vindum Raah (uncredited)", "credit_id": "52fe48019251416c750acb4b", "gender": 0, "id": 1207289, "name": "Stuart Pollock", "order": 73}, {"cast_id": 94, "character": "Hero (uncredited)", "credit_id": "52fe48019251416c750acb4f", "gender": 0, "id": 584868, "name": "Raja", "order": 74}, {"cast_id": 95, "character": "Ops Centreworker (uncredited)", "credit_id": "52fe48019251416c750acb53", "gender": 0, "id": 1207290, "name": "Gareth Ruck", "order": 75}, {"cast_id": 96, "character": "Engineer (uncredited)", "credit_id": "52fe48019251416c750acb57", "gender": 0, "id": 1062463, "name": "Rhian Sheehan", "order": 76}, {"cast_id": 97, "character": "Col. Quaritch\'s Mech Suit (uncredited)", "credit_id": "52fe48019251416c750acb5b", "gender": 0, "id": 60656, "name": "T. J. Storm", "order": 77}, {"cast_id": 98, "character": "Female Marine (uncredited)", "credit_id": "52fe48019251416c750acb5f", "gender": 0, "id": 1207291, "name": "Jodie Taylor", "order": 78}, {"cast_id": 99, "character": "Ikran Clan Leader (uncredited)", "credit_id": "52fe48019251416c750acb63", "gender": 1, "id": 1186027, "name": "Alicia Vela-Bailey", "order": 79}, {"cast_id": 100, "character": "Geologist (uncredited)", "credit_id": "52fe48019251416c750acb67", "gender": 0, "id": 1207292, "name": "Richard Whiteside", "order": 80}, {"cast_id": 101, "character": "Na\'vi (uncredited)", "credit_id": "52fe48019251416c750acb6b", "gender": 0, "id": 103259, "name": "Nikie Zambo", "order": 81}, {"cast_id": 102, "character": "Ambient Room Tech / Troupe", "credit_id": "52fe48019251416c750acb6f", "gender": 1, "id": 42286, "name": "Julene Renee", "order": 82}]'

In [73]:
def convert_cast(x):
    l=[]
    count=0
    
    for i in x:
        l.append(i['character'].replace(" ",""))
        count+=1
        
        if count>4:
            break
        
    return l

In [74]:
new_df['cast']=new_df['cast'].apply(lambda x: convert_cast(json.loads(x)))

In [75]:
new_df.head()

,id,keywords,title,overview,genres,cast,crew
0,19995,"[culture clash, future, space war, space colon...",Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[JakeSully, Neytiri, Dr.GraceAugustine, Col.Qu...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,"[ocean, drug abuse, exotic island, east india ...",Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[CaptainJackSparrow, WillTurner, ElizabethSwan...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,"[spy, based on novel, secret agent, sequel, mi...",Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[JamesBond, Blofeld, Madeleine, M, Lucia]","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,"[dc comics, crime fighter, terrorist, secret i...",The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[BruceWayne/Batman, AlfredPennyworth, JamesGor...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,"[based on novel, mars, medallion, space travel...",John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, Science Fiction]","[JohnCarter, DejahThoris, Sola, TarsTarkas, Ta...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [76]:
new_df['cast'][0]

['JakeSully', 'Neytiri', 'Dr.GraceAugustine', 'Col.Quaritch', 'TrudyChacon']

In [77]:
def convert_crew(x):
    l=[]
    count=0
    
    for i in x:
        if(i['department']=='Directing'):
              l.append(i['name'].replace(" ",""))
              break
        
    return l

In [78]:
new_df['crew']=new_df['crew'].apply(lambda x: json.loads(x))

In [79]:
new_df['crew']=new_df['crew'].apply(lambda x: convert_crew(x))

In [80]:
new_df.head()

,id,keywords,title,overview,genres,cast,crew
0,19995,"[culture clash, future, space war, space colon...",Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[JakeSully, Neytiri, Dr.GraceAugustine, Col.Qu...",[JamesCameron]
1,285,"[ocean, drug abuse, exotic island, east india ...",Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[CaptainJackSparrow, WillTurner, ElizabethSwan...",[GoreVerbinski]
2,206647,"[spy, based on novel, secret agent, sequel, mi...",Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[JamesBond, Blofeld, Madeleine, M, Lucia]",[SamMendes]
3,49026,"[dc comics, crime fighter, terrorist, secret i...",The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[BruceWayne/Batman, AlfredPennyworth, JamesGor...",[ChristopherNolan]
4,49529,"[based on novel, mars, medallion, space travel...",John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, Science Fiction]","[JohnCarter, DejahThoris, Sola, TarsTarkas, Ta...",[AndrewStanton]

In [81]:
new_df.head()

,id,keywords,title,overview,genres,cast,crew
0,19995,"[culture clash, future, space war, space colon...",Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[JakeSully, Neytiri, Dr.GraceAugustine, Col.Qu...",[JamesCameron]
1,285,"[ocean, drug abuse, exotic island, east india ...",Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[CaptainJackSparrow, WillTurner, ElizabethSwan...",[GoreVerbinski]
2,206647,"[spy, based on novel, secret agent, sequel, mi...",Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[JamesBond, Blofeld, Madeleine, M, Lucia]",[SamMendes]
3,49026,"[dc comics, crime fighter, terrorist, secret i...",The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[BruceWayne/Batman, AlfredPennyworth, JamesGor...",[ChristopherNolan]
4,49529,"[based on novel, mars, medallion, space travel...",John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, Science Fiction]","[JohnCarter, DejahThoris, Sola, TarsTarkas, Ta...",[AndrewStanton]

In [82]:
new_df['tags']=new_df['keywords']+new_df['overview']+new_df['genres']+new_df['cast']+new_df['cast']

In [83]:
new_df.head()

,id,keywords,title,overview,genres,cast,crew,tags
0,19995,"[culture clash, future, space war, space colon...",Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[JakeSully, Neytiri, Dr.GraceAugustine, Col.Qu...",[JamesCameron],"[culture clash, future, space war, space colon..."
1,285,"[ocean, drug abuse, exotic island, east india ...",Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[CaptainJackSparrow, WillTurner, ElizabethSwan...",[GoreVerbinski],"[ocean, drug abuse, exotic island, east india ..."
2,206647,"[spy, based on novel, secret agent, sequel, mi...",Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[JamesBond, Blofeld, Madeleine, M, Lucia]",[SamMendes],"[spy, based on novel, secret agent, sequel, mi..."
3,49026,"[dc comics, crime fighter, terrorist, secret i...",The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[BruceWayne/Batman, AlfredPennyworth, JamesGor...",[ChristopherNolan],"[dc comics, crime fighter, terrorist, secret i..."
4,49529,"[based on novel, mars, medallion, space travel...",John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, Science Fiction]","[JohnCarter, DejahThoris, Sola, TarsTarkas, Ta...",[AndrewStanton],"[based on novel, mars, medallion, space travel..."

In [84]:
new_df.head()

,id,keywords,title,overview,genres,cast,crew,tags
0,19995,"[culture clash, future, space war, space colon...",Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[JakeSully, Neytiri, Dr.GraceAugustine, Col.Qu...",[JamesCameron],"[culture clash, future, space war, space colon..."
1,285,"[ocean, drug abuse, exotic island, east india ...",Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[CaptainJackSparrow, WillTurner, ElizabethSwan...",[GoreVerbinski],"[ocean, drug abuse, exotic island, east india ..."
2,206647,"[spy, based on novel, secret agent, sequel, mi...",Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[JamesBond, Blofeld, Madeleine, M, Lucia]",[SamMendes],"[spy, based on novel, secret agent, sequel, mi..."
3,49026,"[dc comics, crime fighter, terrorist, secret i...",The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[BruceWayne/Batman, AlfredPennyworth, JamesGor...",[ChristopherNolan],"[dc comics, crime fighter, terrorist, secret i..."
4,49529,"[based on novel, mars, medallion, space travel...",John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, Science Fiction]","[JohnCarter, DejahThoris, Sola, TarsTarkas, Ta...",[AndrewStanton],"[based on novel, mars, medallion, space travel..."

In [85]:
new_df.drop(['keywords','overview','genres','cast','crew'], inplace=True,axis=1)

In [86]:
new_df.head(10)

,id,title,tags
0,19995,Avatar,"[culture clash, future, space war, space colon..."
1,285,Pirates of the Caribbean: At World's End,"[ocean, drug abuse, exotic island, east india ..."
2,206647,Spectre,"[spy, based on novel, secret agent, sequel, mi..."
3,49026,The Dark Knight Rises,"[dc comics, crime fighter, terrorist, secret i..."
4,49529,John Carter,"[based on novel, mars, medallion, space travel..."
5,559,Spider-Man 3,"[dual identity, amnesia, sandstorm, love of on..."
6,38757,Tangled,"[hostage, magic, horse, fairy tale, musical, p..."
7,99861,Avengers: Age of Ultron,"[marvel comic, sequel, superhero, based on com..."
8,767,Harry Potter and the Half-Blood Prince,"[witch, magic, broom, school of witchcraft, wi..."
9,209112,Batman v Superman: Dawn of Justice,"[dc comics, vigilante, superhero, based on com..."

In [87]:
new_df['tags']=new_df['tags'].apply(lambda x:" ".join(x))

In [89]:
new_df.head()

,id,title,tags
0,19995,Avatar,culture clash future space war space colony so...
1,285,Pirates of the Caribbean: At World's End,ocean drug abuse exotic island east india trad...
2,206647,Spectre,spy based on novel secret agent sequel mi6 bri...
3,49026,The Dark Knight Rises,dc comics crime fighter terrorist secret ident...
4,49529,John Carter,based on novel mars medallion space travel pri...

In [90]:
new_df['tags'][0]

'culture clash future space war space colony society space travel futuristic romance space alien tribe alien planet cgi marine soldier battle love affair anti war power relations mind and soul 3d In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. Action Adventure Fantasy Science Fiction JakeSully Neytiri Dr.GraceAugustine Col.Quaritch TrudyChacon JakeSully Neytiri Dr.GraceAugustine Col.Quaritch TrudyChacon'

In [91]:
new_df['tags']=new_df['tags'].apply(lambda x: x.lower())

In [92]:
new_df['tags'][0]

'culture clash future space war space colony society space travel futuristic romance space alien tribe alien planet cgi marine soldier battle love affair anti war power relations mind and soul 3d in the 22nd century, a paraplegic marine is dispatched to the moon pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. action adventure fantasy science fiction jakesully neytiri dr.graceaugustine col.quaritch trudychacon jakesully neytiri dr.graceaugustine col.quaritch trudychacon'

In [93]:
new_df.head()

,id,title,tags
0,19995,Avatar,culture clash future space war space colony so...
1,285,Pirates of the Caribbean: At World's End,ocean drug abuse exotic island east india trad...
2,206647,Spectre,spy based on novel secret agent sequel mi6 bri...
3,49026,The Dark Knight Rises,dc comics crime fighter terrorist secret ident...
4,49529,John Carter,based on novel mars medallion space travel pri...

In [94]:
type(new_df['tags'][0])

str

In [ ]:
#STEMMING

In [96]:
from nltk.stem.porter import PorterStemmer

In [97]:
stemmer=PorterStemmer()

In [109]:
def stem(x):
    l1=x.split(" ")
    temp_result=[stemmer.stem(word)for word in l1]
    result=" ".join(temp_result)
    
    return result

In [110]:
s1='culture clash future space war space colony society space travel futuristic romance space alien tribe alien planet cgi marine soldier battle love affair anti war power relations mind and soul 3d in the 22nd century, a paraplegic marine is dispatched to the moon pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. action adventure fantasy science fiction jakesully neytiri dr.graceaugustine col.quaritch trudychacon jakesully neytiri dr.graceaugustine col.quaritch trudychacon'

In [111]:
print(stem(s1))

cultur clash futur space war space coloni societi space travel futurist romanc space alien tribe alien planet cgi marin soldier battl love affair anti war power relat mind and soul 3d in the 22nd century, a parapleg marin is dispatch to the moon pandora on a uniqu mission, but becom torn between follow order and protect an alien civilization. action adventur fantasi scienc fiction jakesulli neytiri dr.graceaugustin col.quaritch trudychacon jakesulli neytiri dr.graceaugustin col.quaritch trudychacon

In [113]:
new_df['tags']=new_df['tags'].apply(lambda x: stem(x))

In [116]:
new_df['tags'][1]

'ocean drug abus exot island east india trade compani love of one\' life traitor shipwreck strong woman ship allianc calypso afterlif fighter pirat swashbuckl aftercreditssting captain barbossa, long believ to be dead, ha come back to life and is head to the edg of the earth with will turner and elizabeth swann. but noth is quit as it seems. adventur fantasi action captainjacksparrow willturn elizabethswann william"bootstrapbill"turn captainsaofeng captainjacksparrow willturn elizabethswann william"bootstrapbill"turn captainsaofeng'

In [117]:
# CORPUS 

corpus= new_df['tags'].tolist()

In [119]:
len(corpus)

4806

In [125]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [262]:
tfidf_vectorizer = TfidfVectorizer(stop_words='english',max_features=2000)

tfidf_matrix = tfidf_vectorizer.fit_transform(corpus)

In [263]:
len(terms)

2000

In [264]:
terms = tfidf_vectorizer.get_feature_names_out()

In [265]:
terms

array(['000', '10', '11', ..., 'youth', 'zoe', 'zombi'], dtype=object)

In [266]:
tfidf_matrix.shape

(4806, 2000)

In [267]:
from sklearn.metrics.pairwise import cosine_similarity

In [268]:
similarity_matrix=cosine_similarity(tfidf_matrix)

In [269]:
similarity_matrix[1]

array([0.02753556, 1.        , 0.01343468, ..., 0.03024373, 0.        ,
       0.00871585])

In [270]:
def recommend(movie):
     movie_index = new_df[new_df['title']==movie].index[0]
     distances= similarity_matrix[movie_index]
     movie_list = sorted(list(enumerate(distances)),reverse=True, key=lambda x: x[1] )[1:6]
        
     for i in movie_list:
        print(new_df.iloc[i[0]].title)

In [243]:
recommend('Avatar')    #1000 features

Lifeforce
Aliens
Silent Running
Mission to Mars
Alien

In [258]:
recommend('Avatar')   # 500 features

Lifeforce
Mission to Mars
Alien
Spaceballs
Aliens

In [271]:
recommend('Avatar')  #2000 features

Lifeforce
Aliens
Spaceballs
Silent Running
Moonraker

In [272]:
recommend('Spectre')

Die Another Day
Never Say Never Again
Quantum of Solace
Octopussy
From Russia with Love

recommend('The Batman Begins')

In [274]:
recommend('Batman Begins')

The Dark Knight Rises
Batman
Batman Returns
Batman
The Dark Knight

In [279]:
import pickle

#creating pickle file for new_df dataframe

pickle.dump(new_df.to_dict(), open('movies.pkl','wb'))

In [281]:

#Pickle file for similarity matrix

pickle.dump(similarity_matrix,open('similarity_matrix.pkl','wb'))